@model IEnumerable<VENUERP.Models.CashMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoucherNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMaster.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMaster.ContactNo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nature)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>EDIT</th>
            <th>DETAIL</th>
            <th>STATEMENT</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherNo)
                </td>
                <td>
                    @Convert.ToDateTime(item.Date).ToString("dd-MM-yyyy")
                    @*@Html.DisplayFor(modelItem => item.PurchaseDate)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerMaster.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerMaster.ContactNo)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.Nature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CashId })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.CashId })
                </td>
                <td>
                    @Html.ActionLink("Statement", "Print", new { id = item.CustomerId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CashId })
                </td>
            </tr>
        }
    </tbody>
</table>
