@model VENUERP.ViewModels.ISalesMasterViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-lg-12">

            <div class="text-center" style="color:white;background-color:brown">
                SALES / INVOICE
            </div>


            <table class="table" style="border:2px solid #3b0c31">
                <tr>
                    <th>
                        @Html.Label("Date:", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.IsalesMaster.ISalesDate, new { htmlAttributes = new { @class = "", type = "date" } })

                    </th>
                    <th>
                        @Html.Label("InvoiceNo:", htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.TextBoxFor(model => model.IsalesMaster.InvoiceNo, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.IsalesMaster.InvoiceNo, "", new { @class = "text-danger" })
                    </th>
                    <th>
                        @Html.Label("Cash:", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.DropDownListFor(model => model.IsalesMaster.IsCash, new List<SelectListItem>{
        new SelectListItem{ Text="YES", Value="YES"},
        new SelectListItem{ Text="NO", Value="NO"}
        })
                        @Html.ValidationMessageFor(model => model.IsalesMaster.IsCash, "", new { @class = "text-danger" })
                    </th>
                    <th>
                        @Html.Label("Customer:", htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "" })
                        @Html.ValidationMessageFor(model => model.IsalesMaster.CustomerID, "", new { @class = "text-danger" })
                    </th>
                </tr> 
            </table>
            <table class="table" style="border:2px solid #3b0c31">
                <tr>
                    <th>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandID, "BrandID", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-10">
                                @Html.DropDownList("BrandID", null, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-10">
                                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ItemID, "ItemID", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-10">
                                @Html.DropDownList("ItemID", null, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </th>
                    <th>
                      
                            @Html.LabelFor(model => model.SizeW, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.SizeW, new { htmlAttributes = new { @class = "  " } })
                                @Html.ValidationMessageFor(model => model.SizeW, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.SizeH, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.SizeH, new { htmlAttributes = new { @class = " " } })
                                @Html.ValidationMessageFor(model => model.SizeH, "", new { @class = "text-danger" })
                            </div>
                        
                    
                        

                  
                        
                    </th>
                    <th>
                      
                            @Html.LabelFor(model => model.TotSize, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.TotSize,   new { @class = "  ",@readonly="readonly" } )
                                @Html.ValidationMessageFor(model => model.TotSize, "", new { @class = "text-danger" })
                            </div>
                     
                            @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Qty, new { htmlAttributes = new { @class = "  PQty" } })
                                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                            </div>
                       
                    </th>
                   
                    <th>
                         
                            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Rate, new { htmlAttributes = new { @class = " " } })
                                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                            </div>
                   
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Amount, new { htmlAttributes = new { @class = " ", @readonly = "readonly", @contenteditable = "false" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                       
                    </th>
                  
                    <th>
                        <div class="form-group">
                            <div class="col-md-10">
                                <br />
                                <input type="submit" value="ADD" name="Select" class="btn-success" />
                            </div>
                        </div>
                    </th>
                </tr>
            </table>


            @Html.Action("QuotationItem")

            <table class="table" style="border:2px solid #3b0c31;height:100px;">
                <tr>
                    <th>
                        @Html.LabelFor(model => model.IsalesMaster.CGSTAmt, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IsalesMaster.CGSTAmt, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.IsalesMaster.CGSTAmt, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.IsalesMaster.CGSTRate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IsalesMaster.CGSTRate,   new { @class = "", @readonly = "readonly" } )
                            @Html.ValidationMessageFor(model => model.IsalesMaster.CGSTRate, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        @Html.LabelFor(model => model.IsalesMaster.SGSTAmt, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IsalesMaster.SGSTAmt, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.IsalesMaster.SGSTAmt, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.IsalesMaster.SGSTRate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IsalesMaster.SGSTRate, new { @class = "", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.IsalesMaster.SGSTRate, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        @Html.LabelFor(model => model.IsalesMaster.IGSTAmt, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IsalesMaster.IGSTAmt, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.IsalesMaster.IGSTAmt, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.IsalesMaster.IGSTRate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IsalesMaster.IGSTRate, new { @class = "", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.IsalesMaster.IGSTRate, "", new { @class = "text-danger" })
                        </div>

                    </th>
                    <th>
                        
                            @Html.LabelFor(model => model.IsalesMaster.TaxableAmt, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.IsalesMaster.TaxableAmt, new { htmlAttributes = new { @class = "" } })
                                @Html.ValidationMessageFor(model => model.IsalesMaster.TaxableAmt, "", new { @class = "text-danger" })
                            </div>
                        @Html.LabelFor(model => model.IsalesMaster.TotalGST, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.IsalesMaster.TotalGST, new { htmlAttributes = new { @class = "", value = 0 } })
                            @Html.ValidationMessageFor(model => model.IsalesMaster.TotalGST, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.IsalesMaster.GrandTotal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.IsalesMaster.GrandTotal, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.IsalesMaster.GrandTotal, "", new { @class = "text-danger" })
                        </div>
                    </th>
                </tr>
    
            </table>

            <table class="table" style="border:2px solid #3b0c31">

                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="submit" value="Save" name="Select" class="btn-success" />
                        <input type="reset" value="Reset" name="Select" class="btn-warning" />
                        <input type="submit" value="Delete" name="Select" class="btn-danger" />

                    </td>
                    <td></td>

                </tr>
            </table>
        </div>








    













    </div>
}


<style>
    .form-control {
        font-size: 12px;
        max-width: 150px;
    }

    .control-label {
        font-size: 12px;
    }

    table, th, td {
        border: 0px solid #3b0c31;
        font-size: 12px;
    }
</style>
