@model IEnumerable<VENUERP.Models.PermissionsRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MapPages.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoles.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Add)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.View)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MapPages.Pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRoles.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Add)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.View)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
